{% load static %}
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>encrypter</title>
<link rel="stylesheet" href="{% static 'Vigenere/css/encrypter1.css' %}">
</head>
<body>
<div class="ribbon"></div>
  <h2>The Vigener Cipher</h2>
  <div class="login">
  <form action="AuthEncMes" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="input">
      <div class="blockinput">
        <i class="icon-envelope-alt"></i><input type="text" placeholder="Login" name="Log" id="Log">
      </div>
      <div class="blockinput">
        <i class="icon-unlock"></i><input type="password" placeholder="Password" name="pass" id="pass">
      </div>
      {{form.Mess}}
       {{form.Key}}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <br {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <button type="submit" id="butt">Start</button>
    <a id="butt1" href='http://127.0.0.1:8000'>Close</a>
      <div id="buttons">
    <input type="radio" id="encrRB" name="RB" value="Encrypt" checked> <label for="encrRB">Encrypt</label>
    <input type="radio" id="decrRB" name="RB" value="Decrypt" > <label for="decrRB">Decrypt</label>
  </div>
       <a id="toAuthorize" href='http://127.0.0.1:8000/CheckMessages'>Look at your messages</a>
       <input type="file" name="chosenFile" id="chosenFile">
  </form>
  </div>
</body>
</html>
